#main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

:root {
    --header-bg-color: #4051aa;
    --main-bg-color: white;
    --header-text-color: #bbff00ab;
}

#app-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: head;
}

#app-footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
    padding: 20px;
}

#app-body {
    /* flex: 1 0 auto; */
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100%;
}

#table-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vsep {
    border-left: 6px solid var(--header-bg-color);
    height: 100%;
    padding-left: 2%;
    margin-left: 2%;
}
.unit-table {
    display: flex;
    flex-direction: column;
}

#lat-1 #opt-seps {
    width: 15%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
    overflow-wrap: normal;
    min-width: fit-content;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}
